# 01. Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import data

In [3]:
# define project folder path
path = r'C:\Users\nsmith\OneDrive - Georgia Poultry Laboratory Network\CareerFoundry\02 - Data Immersion\Achievement 4\12-2024 Instacart Basket Analysis'

In [4]:
# Import the orders data as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [5]:
# Import the products data as df_prods with path variable
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [6]:
df_ords.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# 03. Products consistency checks

## Mixed type columns

In [7]:
# create a dataframe
df_test = pd.DataFrame()

In [8]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# function for checking for mixed type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [11]:
# convert data type of mix column to string
df_test['mix'] = df_test['mix'].astype('str')

## Missing Values

In [12]:
# check products df for count of missing values by column
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
# create a new dataframe where product name is missing
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
# check to see if number of missing values is important to overall data
df_prods.shape

(49693, 5)

In [16]:
# create new df of cleaned products data
# note that data could also be dropped and df overwritten
# df_prods.dropna(inplace = True)
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
# check number of rows
df_prods_clean.shape

(49677, 5)

## Duplicate Values

In [18]:
# check products df for duplicate rows
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
# check products df for duplicate row
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [20]:
# check number of rows in cleaned products df for comparison
df_prods_clean.shape

(49677, 5)

In [21]:
# drop the duplicate rows from the df without overwriting
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
# check number of rows of new df
df_prods_clean_no_dups.shape

(49672, 5)

## Export new dataframe

In [23]:
# Export to csv
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'), index = False)

# 04. Orders consistency checks

In [24]:
# step 2: describe orders df
df_ords.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## Mixed Type

In [25]:
# step 3: check for mixed type data in orders
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### Step 4: There are no mixed type columns in the orders dataframe

## Missing Values

In [26]:
# Step 5: check orders df for missing values
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### All missing values occur in the days_since_prior_order column. These values are associated with the first order a customer has made, indicated by the value 1 in the order_number column. The null value makes sense, since it is not 0 days since their last order (as if they had made two orders on the same day), but rather it's their first order as a new customer.

In [27]:
# Step 6a: address missing values by creating a flag
# Create a copy of the df
df_ords_flagged = df_ords

In [28]:
# Step 6b: address missing values by creating a flag
# Create the 'first_order' column
df_ords_flagged['first_order'] = df_ords_flagged['days_since_prior_order'].isnull()

In [29]:
# check frequency distribution of flag column
df_ords_flagged['first_order'].value_counts()

False    3214874
True      206209
Name: first_order, dtype: int64

In [28]:
# Check the updated orders df
df_ords_flagged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

### To address the missing values in the days since prior order column, I created a flag column. This boolean column's value is true if days since prior order is null (and false if not).

## Duplicate Values

In [29]:
# Step 7: check for duplicate values in orders df
df_dups_ords = df_ords_flagged[df_ords_flagged.duplicated()]

In [30]:
# View new df
df_dups_ords

Empty DataFrame
Columns: [order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

### Step 7b & 8: There are no duplicate values in the orders data. No action needed.

## Export new orders data

In [31]:
# Step 9: Export new orders df
df_ords_flagged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), index = False)